*~
*.a
*.in
*.la
*.lo
*.log
*.o
*.scan
*-deps
*-h1
.deps
.dirstamp
Makefile
aclocal.m4
autom4te*
auxdir
config.h
config.status
configure
libtool
llr_cauchy_seq_generator
llr_xorgf_generator
m4
raid/llr_cauchy_seq.c
raid/llr_xorgf.c

test_*
!test_*.c
